@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #333;}

/* Utilitate  */
.main-bg {
    background:#01233f;
}

.secondary-bg {
    background: #4b95d6;
}

.main-text {
    color: #01233f;
}

.secondary-text {
    color:#4b95d6;
}

.btn-primary {
    background: #4b95d6;
    padding: 0.80rem;
    border-radius: 10px;
    color: #01233f;
    transition: all 0.3s ease-in-out;
    border: #333 2px solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-primary:hover, .btn-edette:hover {
    background: #2b75c6;
    color: white;
}

/* Sites Buttons */

.btn-edette {
    background: #56391c;
    padding: 0.80rem;
    border-radius: 10px;
    color: #cc9863;
    transition: all 0.3s ease-in-out;
    border: #333 2px solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Header */

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo {
    height: 200px;
    width: 200px;
    background: url("./main-page-img/Logo_BPC.png") no-repeat center center/cover;
    display: inline-block;
}

header .line {
    background-color: #01233f;
    width: 7px;
    height: 65px;
    margin: 0 2rem;
    border-radius: 10px;
}

header h1 {
    text-align: center;
    font-size: 4rem;
    font-family: 'Metal Mania', cursive;
    color:  #01233f;
}

/* Section */
section .container{
        padding: 2rem 4rem;
        margin: 3rem auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 6rem 3rem;
}

section .container .site {
        padding: 2rem 1rem;
        background: #666;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

section .container .site img {
        width: 100%;
        padding: 0 1.5rem 1.5rem 1.5rem;
}

section .container .site a {
        text-align: center;
        padding: 0.75rem;
        text-decoration: none;
        display: inline-block;
        width: 40%;
}

/* Footer */

footer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 2rem;
    line-height: 1.3;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

footer div {
    margin: 1rem;
    max-width: 400px;
}

footer .contact-info p {
    border-bottom: #4b95d6 1px solid;
    padding: 0.75rem;
}

footer h3 {
    color: #ccc;
    font-size: 0.8rem;
}

footer p {
    color: #4b95d6;
    padding: 0.5rem 0;
}

/* Media Queries */

@media(max-width:1650px) {
    section .container .site a {
        width: 60%;
    }
}

@media(max-width:1210px) {
    section .container .site a {
        width: 70%;
    }

    section .container .site img {
        padding: 0 1rem 1rem 1rem;
    }
}

@media(max-width:1100px) {
    section .container{
        padding: 2rem 4rem;
        margin: 3rem auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }
}

@media(max-width:768px) {
    section .container .site a {
        padding: 0.5rem;
        font-size: 0.80rem;
    }
}

@media(max-width:650px) {
    header .logo {
        height: 150px;
        width: 150px;
    }
    
    section .container {
        display: block;
        margin: 1rem 0;
    }

    section .container .site {
        margin: 3rem 0;
    }

    footer {
        justify-content: center;
        align-items: center;
    }

    footer div {
        max-width: 250px;
    }

    footer .contact-info p {
        padding: 0.75rem 0;
    }

    section .container .site a  {
        font-size: 1rem;
    }
}

@media(max-width:530px) {
    footer {
        flex-direction: column;
        padding: 1rem;
    }

    section .container .site a {
        padding: 0.8rem 0.5rem;
    }

    section .container .site {
        margin: 0 0 2.5rem 0;
    }

    header .line {
        width: 200px;
        height: 7px;
    }

    header {
        flex-direction: column;
    }

    header .logo {
        height: 200px;
        width: 200px;
    }

    header h1 {
        font-size: 3.5rem;
        padding: 1rem 0 2rem 0;
    }
}

@media(max-width:420px) {
    section .container .site a {
        padding: 0.5rem;
    }

    section .container .site {
        margin: 0 -1rem 1.5rem -1rem;
    }

    section .container .site a {
        width: 70%;
    }

    header .line {
        width: 180px;
        height: 7px;
    }

    header {
        flex-direction: column;
    }

    header .logo {
        height: 150px;
        width: 150px;
    }

    header h1 {
        font-size: 3rem;
        padding: 1rem 0 2rem 0;
    }
}

@media(max-width:300px) {
    section .container .site img {
        display: none;
    }

    section .container .site a {
        width: 100%;
    }
}
